html {
  font-size: 24px;
}

body {
  background-color: #ff9d00;
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  font-size: 240px;
}

h2 {
  font-size: 112px;
}

h3 {
  font-size: 96px;
  letter-spacing: 0px;
}
h4,
.h4 {
  font-size: 44px;
}

h5 {
  font-size: 30px;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1;
}

.custom {
  &--height {
    height: 100vh;
  }
  &--textShadow {
    text-shadow: 10px 5px 5px black;
  }
  &__operator {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 98%;
      height: 3px;
      background-color: #ffffff;
      bottom: 0;
      left: 0;
    }
    &::after {
      position: absolute;
      content: "";
      width: 98%;
      height: 3px;
      background-color: #ffffff;
      bottom: -10px;
      left: 0;
    }
  }
}
